/*
html, body, #root {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
*/

$white: #fff;
$black: #000;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  margin: 0;
}

html, 
body, 
#root {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

img {
  vertical-align: top;
}

select, 
option {
  box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}