.privacy-policy-container {
    margin-bottom: 50px;
  .title {
    font-weight: 400;
    font-size: 1.6em;
    color: #3B4879;
    margin-bottom: 4px;
  }
  .subtitle {
    font-weight: 400;
    color: #3B4879;
  }
  p {
    margin-top: 8px;
  }
  p, li {
    font-size: 1.1em;
    text-align: justify;
  }
}
