@use 'scss/abstracts/variables' as *;
@use 'scss/abstracts/mixins' as *;

.repositories-page {
  color: $dark-gray;
  font-family: sans-serif;
  padding: 0 10px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 2;

    @include breakpoint-down('small') {
      font-size: 42px;
    }
  }
}
